body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.main__content__group {
	margin: 0 auto;
}

.body__header {
	background-color: #FFFFFF;
	padding: 20px 0;
}

.primary__title {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.primary__title a {
	text-decoration: none;
	color: inherit;
}

.body__header__navigation__link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}

.main__content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.secondary__title {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.main__content__courses__link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.main__content__courses__link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.main__content__courses__link:hover {
	box-shadow: 4px 4px 4px #CCC;
}

.main__content__courses__link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.main__content__courses__link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}

.main__content__courses__link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
}


.body__footer {
	background-color: #324C64;
	padding-top: 20px;
}

.body__footer .secondary__title {
	color: #FFF;
}

.footer__courses__navigation__link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}

.footer__courses__navigation__link {
	font-size: .9em;
}

.footer__courses__title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.footer__courses__title + .footer__courses__navigation__link {
	margin-top: 0;
}

.databases { color: #EC6E5A; border-left: 4px solid #EC6E5A; }
.framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.backend { color: #25D285; border-left: 4px solid #25D285; }

.footer__partnership {
	margin-top: 30px;
	background: #F2F5F7;
	padding: 20px 0;
}

.footer__contact {
	margin-top: 20px;
	text-align: center;
}

.footer__contact__email__input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

.footer__contact__button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #4DBA7A;
	color: #FFF;
	cursor: pointer;
	
}

.footer__contact__button,
.footer__contact__email__input {
	outline: 0;
	border: 1px solid #4DBA7A;
	box-sizing: border-box;
	font-size: 16px;
}

.main__content__section {
	background-color: #5E9EDC;
	padding: 25px 0;

}

.main__content__about__video {
	max-width: 100%;
}

.main__content__section .main__content__group {
	color: #FFF;
}

.main__content__about__title {
	font-size: 1.2em;
	font-weight: bolder;
}

.main__content__about__description {
	font-size: 1.3em;
	line-height: 2;
}

.main__content__about__button {
	border-radius: 8px;
	background-color: #ec6e5a;
	display: block;
	color: #FFF;
	border: none;
	height: 50px;
	font-size: .8em;
	outline: none;
}