.body__header .main__content__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body__header__navigation {
    display: flex;
    align-items: center;
}

.main__content__courses {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.main__content__courses__link {
    width: 20%;
}

.main__content__section .main__content__group {
    display: flex;
}

.main__content__about__video {
    flex-grow: 1;
    flex-shrink: 2;
}

.main__content__about__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main__content__about__list {
    flex-grow: 1;
}

.footer__courses__navigation {
    display: flex;
    justify-content: space-between;
}

.footer__courses__areas {
    display: flex;
    flex-direction: column;
}

.footer__partnership .main__content__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__partnership__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.footer__contact {
    width: 25%;
}

.footer__contact__group {
    margin-top: 10px;
    display: flex;
}