@media(min-width: 768px) {

    .main__content__group {
        width: 85%;
    }

    .secondary__title {
        text-align: left;
    }

    .body__header__navigation__link {
        border-radius: 5px;
        border: 1px solid #9799A6;
    }

    .body__header__navigation__link:hover {
        color: #FFF;
        background-color: #9799A6;
    }

    .primary__title {
        margin: 0;
    }

    .body__header__navigation {
        width: auto;
    }

    .body__header__navigation__link {
        width: auto;
        margin: 0 0 0 10px;
    }

    .footer__contact {
        margin-top: 0;
        text-align: left;
    }

    .main__content__courses__link:nth-child(3n) {
        margin-right: 0;
    }

    .main__content__courses__link:nth-child(3n+1) {
        margin-left: 0;
    }

}

@media(min-width: 992px) {
    .main__content__courses__link {
        margin: 1.333%;
    }

    .main__content__courses__link:nth-child(3n) {
        margin-right: 1.33%;
    }

    .main__content__courses__link:nth-child(3n+1) {
        margin-left: 1.333%;
    }

    .main__content__courses__link:nth-child(4n) {
        margin-right: 0;
    }

    .main__content__courses__link:nth-child(4n+1) {
        margin-left: 0;
    }

    .main__content__about__description {
        margin-left: 1.5em;
    }

}